.contacts-intro {
  padding-bottom: 30px;
  &__title {
    margin-bottom: 50px;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__item {
      max-width: 270px;
      & + & {
        margin-left: 20px;
      }
    }
    &__title {
      font-weight: 700;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: -0.02em;
      color: #BEBEC8;
      margin-bottom: 15px;
    }
    &__phone {
      font-weight: 700;
      font-size: 27px;
      line-height: 130%;
      letter-spacing: -0.02em;
      color: #414042;
      @media (min-width: 1024px) {
        transition: color .2s ease;
        &:hover {
          color: #A4AC14;
        }
      }
      @media (max-width: 1024px) {
        transition: color .1s ease;
        &:active {
          color: #A4AC14;
        }
      }
    }
    &__schedule {
      &-text {
        & + & {
          margin-top: 5px;
        }
      }
    }
    &__email {
      font-weight: 700;
      line-height: 130%;
      letter-spacing: -0.01em;
      color: #414042;
      margin-bottom: 15px;
      @media (min-width: 1024px) {
        transition: color .2s ease;
        &:hover {
          color: #A4AC14;
        }
      }
      @media (max-width: 1024px) {
        transition: color .1s ease;
        &:active {
          color: #A4AC14;
        }
      }
    }
    &__social {
      display: flex;
      align-items: center;
      &-item {
        width: 40px;
        height: 40px;
        border: 1px solid #A4AC14;
        border-radius: 50%;
        @media (min-width: 1024px) {
          transition: background .2s ease;
          &:hover {
            background: #A4AC14;
            svg {
              fill: #fff;
            }
          }
        }
        @media (max-width: 1024px) {
          transition: background .1s ease;
          &:active {
            background: #A4AC14;
            svg {
              fill: #fff;
            }
          }
        }
        & + & {
          margin-left: 10px;
        }
      }
      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        svg {
          display: block;
          width: 55%;
          height: 55%;
          fill: #424255;
          @media (min-width: 1024px) {
            transition: fill .2s ease;
          }
          @media (max-width: 1024px) {
            transition: fill .1s ease;
          }
        }
      }
    }
    &__text {
      & + & {
        margin-top: 10px;
      }
      span {
        color: #A4AC14;
        font-weight: 700;
      }
    }
  }
}