.ruler-video {
  padding-bottom: 120px;
  &__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 30px;
  }
  &__item {
    max-width: 610px;
  }
}

@media (max-width: 991px) {
  .ruler-video {
    padding-bottom: 80px;
    &__title {
      margin-bottom: 25px;
      font-size: 18px;
      line-height: 140%;
    }
  }
}

@media (max-width: 480px) {
  .ruler-video {
    &__title {
      margin-bottom: 20px;
    }
  }
}