.burger {
  width: 29px;
  height: 23px;
  position: relative;
  display: none;
  transition: transform .3s ease;
  &.active {
    transform: rotate(45deg);
    transition-delay: .1s;
    span {
      transition-delay: 0s, .2s, .3s;
      &:nth-child(1) {
        top: calc(50% - 1.5px);
        transform: rotate(90deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        top: calc(50% - 1.5px);
      }
    }
  }
  span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    transition: top .3s ease-in-out, transform .3s ease-in-out, opacity .1s ease;
    &:nth-child(1) {
      top: 0;
      background: #a4ac14;
    }
    &:nth-child(2) {
      top: calc(50% - 1.5px);
      background: #fff;
    }
    &:nth-child(3) {
      top: calc(100% - 1.5px);
      background: #a4ac14;
    }
  }
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}