.single-post-intro {
  padding-bottom: 135px;
  &__top {
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 50px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  &__date {
    margin-right: 45px;
  }
  &__preview {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__share {
    margin-top: 40px;
    display: flex;
    align-items: center;
    &-text {
      color: #A4AC14;
      text-transform: uppercase;
      margin-right: 25px;
    }
    &-inner {
      display: flex;
      align-items: center;
    }
    &-btn {
      display: block;
      & + & {
        margin-left: 10px;
      }
      &-inner {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #A4AC14;
        border-radius: 50%;
        @media (min-width: 1024px) {
          transition: background .2s ease;
          &:hover {
            background: #A4AC14;
            svg {
              fill: #fff;
            }
          }
        }
        @media (max-width: 1024px) {
          transition: background .1s ease;
          &:active {
            background: #A4AC14;
            svg {
              fill: #fff;
            }
          }
        }
      }
      svg {
        display: block;
        width: 20px;
        height: 20px;
        fill: #424255;
        @media (min-width: 1024px) {
          transition: fill .2s ease;
        }
        @media (max-width: 1024px) {
          transition: fill .1s ease;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .single-post-intro {
    padding-bottom: 80px;
    &__title {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 480px) {
  .single-post-intro {
    padding-bottom: 65px;
    &__top {
      margin-bottom: 20px;
    }
    &__info {
      margin-bottom: 20px;
    }
    &__preview {
      height: 220px;
    }
    &__share {
      margin-top: 25px;
      flex-direction: column;
      align-items: flex-start;
      &-text {
        margin: 0 0 10px 0;
      }
    }
  }
}