.main-reasons {
  padding: 240px 0 175px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(66, 66, 85, 0.8), rgba(66, 66, 85, 0.8));
  }
  &__title {
    margin-bottom: 50px;
    max-width: 380px;
  }
  &__inner {
    display: flex;
    margin: 0 -15px;
    counter-reset: reasonsList;
  }
  &__slider {
    .main-reasons__item {
      padding: 0;
    }
  }
  &__controls {
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
  }
  &__item {
    width: calc(100% / 6);
    padding: 0 15px;
    &-inner {
      height: 100%;
      border-bottom: 1px solid #fff;
      padding: 35px 0 22px;
      position: relative;
      &::before {
        counter-increment: reasonsList;
        content: "0" counter(reasonsList);
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 700;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: -0.02em;
        color: #A4AC14;
      }
    }
    &-desc {
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: #fff;
    }
  }
}

@media (max-width: 1366px) {
  .main-reasons {
    padding: 250px 0 170px;
    &__inner {
      margin: 0 -10px;
    }
    &__item {
      padding: 0 10px;
    }
  }
}

@media (max-width: 991px) {
  .main-reasons {
    padding: 170px 0 80px;
    &__inner {
      flex-wrap: wrap;
      margin: -30px -15px;
    }
    &__item {
      width: calc(100% / 3);
      padding: 30px 15px;
    }
  }
}

@media (max-width: 694px) {
  .main-reasons {
    padding: 40px 0;
  }
}

@media (max-width: 480px) {
  .main-reasons {
    &__title {
      margin-bottom: 40px;
    }
    &__item-inner {
      padding: 35px 0 30px;
    }
  }
}