.product-category-intro {
  padding: 25px 0 40px;
  &__title {
    margin-bottom: 25px;
  }
  &__slider-wrapper {
    border: 1px solid #D4DADE;
    position: relative;
  }
  &-slider {
    &__item {
      height: 150px;
      padding: 35px 15px 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      & + & {
        border-left: 1px solid #D4DADE;
      }
      @media (min-width: 1024px) {
        &:hover {
          .product-category-intro-slider__title {
            color: #A4AC14;
          }
        }
      }
      @media (max-width: 1024px) {
        &:active {
          .product-category-intro-slider__title {
            color: #A4AC14;
          }
        }
      }
    }
    &__link {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    &__icon {
      width: 40px;
      height: 40px;
      margin-bottom: 35px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__title {
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 130%;
      @media (min-width: 1024px) {
        transition: color .2s ease;
      }
      @media (max-width: 1024px) {
        transition: color .1s ease;
      }
    }
    &__btn {
      width: 10px;
      height: 20px;
      display: block;
      cursor: pointer;
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      @media (min-width: 1024px) {
        &:hover svg {
          stroke: #424255;
        }
      }
      @media (max-width: 1024px) {
        &:active svg {
          stroke: #424255;
        }
      }
      svg {
        display: block;
        width: 100%;
        height: 100%;
        stroke: #A4AC14;
        @media (min-width: 1024px) {
          transition: stroke .2s ease;
        }
        @media (max-width: 1024px) {
          transition: stroke .1s ease;
        }
      }
    }
    &__prev {
      left: 15px;
    }
    &__next {
      right: 15px;
    }
  }
}