.overlay {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 120vh;
  background: #424255;
  transition: all .2s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  &.open {
    opacity: .7;
    visibility: visible;
    pointer-events: auto;
  }
}